.poogie-row {
  padding: .7em 1em;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #bbb;
  margin: 0;
}

.poogie-li {
  padding: .7em 1em;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #bbb;
  display: block;
  margin: 0;
  list-style: none;
}

.poogie-li-divider {
  padding: .5em 1.143em;
  font-size: .9em;
  background-color: #e9e9e9;
  border-color: #ddd;
  color: #333;
  font-weight: 700;
  outline: 0;
}

#poogie-header {
  border-color: #ddd;
  border-width: 1px 0;
  border-style: solid;

  font-weight: 700;
  outline: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #e9e9e9;
  height: 40px;
}

.poogie-menu-item {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #bbb;
}

/* .poogie-menu-item > a:after { content: ' »'; } */

.poogie-menu-heading {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #bbb;
  background-color: #e9e9e9;
}

#poogie-content {
  margin-top: 40px;
}

.poogie-header-right {
  float: right;
  padding: 0.1em 0.5em;
}

.poogie-header-left {
  float: left;
  padding: 0.1em 0.5em;
}

.poogie-header-title {
  font-weight: bold;
  padding: 0.5em 0;
  /*
  font-size: 1em;
  min-height: 1.1em;
  */
  text-align: center;
  margin: 0 auto;
  width: 60%;
}

.button-header {
  background: rgb(246, 246, 246);
  border-color: rgb(221, 221, 221);
}

.clear { clear: both; }

