<%inherit file="base.html" />

<div id="poogie-header">
 <div class="poogie-header-content">
  <div class="poogie-header-title">Menu</div>
 </div>
</div>

<div id="poogie-content">
<div class="pure-menu">
<ul class="pure-menu-list">

  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="skilltrees-en.html">Skill Trees</a>
  </li>
  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link" href="hunterarts.html">Hunter Arts</a>
  </li>
  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link" href="monsters-en.html">Monsters</a>
  </li>
  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="monster-titles.html">Monster Titles</a>
  </li>

  <li class="pure-menu-heading poogie-menu-heading">Items</li>

  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="items-usable.html">Usable</a>
  </li>
  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="items-gather.html">Gatherable</a>
  </li>
  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="items-carve.html">Monster Carves</a>
  </li>

  <li class="pure-menu-heading poogie-menu-heading">Old Sites (searchable but slow load)</li>

  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="site-jqueryui.html">Version 2 (home menu navigation)</a>
  </li>
  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="site-jqueryui-tabbed.html">Version 1 (tabbed navigation)</a>
  </li>

</ul>
</div>
</div>
