<%inherit file="base.html" />

<div id="poogie-header">
 <div class="poogie-header-content">
  <div class="poogie-header-title">Menu</div>
 </div>
</div>

<div id="poogie-content">
<div class="pure-menu">
<ul class="pure-menu-list">

  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="skilltrees-en.html">Skill Trees</a>
  </li>
  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link" href="hunterarts.html">Hunter Arts</a>
  </li>
  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link" href="monsters-en.html">Monsters</a>
  </li>
  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="monster-titles.html">Monster Titles</a>
  </li>

  <li class="pure-menu-heading poogie-menu-heading">Items</li>

  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="items-en.html">Items (Usable, Gatherable)</a>
  </li>
  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="items-carve-en.html">Monster Carves</a>
  </li>

  <li class="pure-menu-heading poogie-menu-heading">Old Sites (searchable but slow load)</li>

  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="site-jqueryui.html">Version 2 (home menu navigation)</a>
  </li>
  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="site-jqueryui-tabbed.html">Version 1 (tabbed navigation)</a>
  </li>

  <li class="pure-menu-heading poogie-menu-heading">Acknowledgments / Sources</li>

  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="http://monsterhunter.wikia.com/wiki/MHX"
       >Monster Hunter X Wiki (Wikia)</a>
  </li>
  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="https://github.com/kamegami13/MonsterHunter4UDatabase">MonsterHunter4UDatabase</a>
  </li>
  <li class="pure-menu-item poogie-menu-item">
    <a class="pure-menu-link"
       href="http://creativecommons.org/licenses/by-sa/3.0/">License CC-BY-SA</a>
  </li>
</ul>
</div>
</div>
